<div class="container">
    <div class="card">
        <div class="logo">
            <div class="img-logo">
                <img style="width: 180px;" src="https://icardlink.me/recursos/2020/05/logo-ejemplo.png" alt="">
            </div>
        </div>
        <div class="user">
            <div class="img-user">
                <img src="https://icardlink.me/recursos/2020/05/galileo-galilei.jpg" alt="">
            </div>
            <div class="name-profile">
                <h2>Nombre</h2>
                <h4>Profesión</h4>
            </div>
        </div>
        <div class="network">
            <h3>Contáctame!</h3>
            <div class="social-networks">
             <a class="social-network-facebook "href="#"><i class="fab fa-facebook-square fa-3x" ></i></a>
             <a class="social-network-facebook "href="#"><i class="fab fa-twitter-square fa-3x" ></i></a>
             <a class="social-network-facebook "href="#"><i class="fab fa-instagram fa-3x" ></i></a>
             <a class="social-network-facebook "href="#"><i class="fab fa-whatsapp-square fa-3x" ></i></a>
             <a class="social-network-facebook "href="#"><i class="fas fa-envelope-square fa-3x" ></i></a>
            </div>
        </div>
        <div class="info">
            <h2>www.paginaweb.com</h2>
        </div>
    </div>
</div>