<div class="container">
    <div class="card" [style.background-color]="fondo.color">
        <div class="logo">
            <div class="img-logo">
                <img style="width: 180px;" src={{logoimage.logo}}  alt="">
            </div>
        </div>
        <div class="user">
            <div class="img-user">
                <img src={{profileimage}} alt="">
            </div>
            <div class="name-profile">
                <h2 [style.color]="colorName" style="font-size: {{letterSize}}px;">{{nombres.name}}</h2>
                <h4 [style.color]="colorProf">{{nombres.titleprofession}}</h4>
            </div>
        </div>
        <div class="network">
            <h3 [style.color]="">Do you want contact me?</h3>
            <div class="social-networks">
             <img id="icons-image" tooltip="" placement="bottom" style="background-color: {{iconColor}};border-radius: {{roudValue}}%;width: {{iconSize}}px; height: {{iconSize}}px;"
              src="{{icon}}"  alt="" >
            </div>
        </div>
        <div class="info">
            <h2 [style.color]="">www.paginaweb.com</h2>
        </div>
    </div>

    <div class="preview">
        <h1>PREVIEW</h1>
    </div>
</div> 
