<div class="container">
    <div class="card" [style.background-color]="jsonData.color">
        <div class="logo">
            <div class="img-logo">
                <img style="width: 180px;" src={{jsonLogo.logo}}  alt="">
            </div>
        </div>
        <div class="user">
            <div class="img-user">
                <img src={{profileimage}} alt="">
            </div>
            <div class="name-profile">
                <h2 [style.color]="jsonColor.color" style="font-size:{{fontSize}}px;">{{values.name}}</h2>
                <h4 [style.color]="jsonIconColor.color" style="font-size:16px;">{{values.titleprofession}}</h4>
            </div>
        </div>
        <div class="network">
            <h3 [style.color]="jsonColor.color">Do you want contact me?</h3>
            <div class="social-networks">
             <img style="background-color:{{BkColor.color}};
              width: {{IconSize}}px;
              height: {{IconSize}}px;
              border-radius: {{roudingValue}}%;
              "
              src="{{icons.link}}"  alt="">
            </div>
        </div>
        <div class="info">
            <h2 [style.color]="jsonColor.color">www.paginaweb.com</h2>
        </div>
    </div>

    <div class="preview">
        <h1>PREVIEW</h1>
    </div>
</div> 
