<div class="container">
    <div class="uploadimage">
        <div class="image">
            <input type="file" name="file" id="file" class="inputfile">
            <label for="file"><i style="margin-right: 10px;" class="fas fa-upload fa-lg"></i>UPLOAD A LOGO</label>
        </div>
    </div>
    <div class="titulologos">
            <h1>Predesigned Logos</h1>
    </div>
    <div class="listlogos">
        <div class="logos"*ngFor="let item of logos"  (click)= "changeLogo(item)">
            <img src="{{item.logo}}" class="logo" style="background-size: cover;">
        </div>
    </div>
</div>