<div class="container">
    <div class="uploadimage" role="button">
        <div class="image">
            <h1 style="color:white; margin-left: 30px;">
                <i class="fas fa-upload"></i>
                     UPLOAD LOGO</h1>
        </div>
    </div>
    <div class="titulologos">
            <h1>Predesigned Logos</h1>
    </div>
    <div class="listlogos">
        <div class="logos"*ngFor="let item of logos"  (click)= pass(item)>
            <img src="{{item.logo}}" class="logo" style="background-size: cover;">
        </div>
    </div>
</div>