.container {
    justify-content: center;
    align-items: center;
    width: 92%;
    padding: 3%;
    display: inline-flex;
    background-color: rgba(204, 204, 204, 0.9);
    border-radius: 49px;
    flex-wrap: wrap!important;
    height: 480px;
    max-width: 1200px;
    overflow: scroll;
    scroll-behavior: smooth;
    .template{
        width:190px;
        height:300px;
        cursor:pointer;
    }
}
.container::-webkit-scrollbar {
    width: 8px;     
    height: 8px;   
    display: none;  
}





