.container {
    width: 92%;
    padding: 3%;
    display: inline-flex;
    background-color:  rgba(167, 159, 160, 0.815);
    border-radius: 49px;
    flex-wrap: wrap!important;
    .cardPrincipal{
        width: 100%;
        height: 100%;
        justify-content: center;
    align-items: center;
    display: flex;
    }
    img{
        width:250px;
        height:400px;
        
    }
}


@media screen and (max-width: 768px){
.container{
display: absolute;
}
}


