.container {
    justify-content: center;
    width: 90%;
    padding: 3%;
    display: inline-flex;
    background-color: rgba(204, 204, 204, 0.9);
    border-radius: 49px;
    flex-wrap: wrap!important;
    height: 450px;
    .itemCard{
        margin: 5px;
        border-radius: 15px;;
    }
    button{
        cursor: pointer;
        border: none;
        border-radius: 50%;
        width:55px;
        height:55px;
        outline: none;
        box-shadow: 1px 4px 5px #00000066 !important;
        transition: .4s;
    }
    button:hover{
        transition: .3s;
        border:5px solid #FFDDDF
    }        
}
.range-slider{
    margin-top: 20px;
    display:inline-flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    h1{
        color:  #440ee6;
        margin: 10px;
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}

.slider{
    width: 60%;
    height: 20px;
    transform: translate(10px,4px);
}
.slider-container{
    position: relative;
}
.slider-container .slider{
    position: relative;
    z-index: 2;
    -webkit-appearance: none;
    margin:0;
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background: linear-gradient(75deg, #6798d3, #323ed2);
    outline: none;
}

.slider-container .slider::-webkit-slider-thumb{
    -webkit-appearance: none; 
    width: 22px;
    height: 22px;
    background-color: #440ee6;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius:50%;
    transform: rotate(45deg) translate(0%,0%);
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 0 0 rgb(255, 255, 255,0);
    transition: .3s ease-in-out;    
}
.slider-container .slider::-webkit-slider-thumb:hover{
    box-shadow: 0 0 0 5px rgb(255, 255, 255,1);
}
.colores {
    display: flex;
    width: 100%;
    height: 100px;
    h1{
        width: 40%;
        text-align: center;
        color:  #440ee6;
        margin: 10px;
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}
.paletacolores {
    display: flex;
    padding: 1%;
    width: 80%;
    height: 80px;
    flex-wrap: wrap;
    justify-content: center;
    .color {
        margin: 10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;    
    } 
    #selectcolor{
        margin:10px;
        width: 30px;
        height: 30px;
        input{
            
            border: none;
            width: 30px;
            height: 30px;
            outline:none; 
            
        }
       input::-webkit-color-swatch-wrapper {
            padding: 0;
        
            -webkit-appearance: none !important;
        }
        input:-webkit-color-swatch {
            border: none;
            
            -webkit-appearance: none !important;
        }
    
        
    }
}
