<app-header changeTitle="{{ sendChangeTitle }}"></app-header>
<section class="allSections">
  <section class="cards">
    <app-menu (changeTitleText)="processChange($event)"></app-menu>
  </section>
  <section class="list">
    <!-- <router-outlet (active)="processLink($event)"></router-outlet> -->
    <router-outlet></router-outlet>
    <!-- <app-lista-plantillas (passLink)="processLink($event)"></app-lista-plantillas> -->
  </section>
  <section class="Mastercard">
    <app-card-principal imageLink="{{ sendLink }}"></app-card-principal>
  </section>
</section>