

.allSections {
    display: flex;
    margin-top: 30px;
    padding: 0px;
    overflow: hidden;
    scroll-behavior: none;
    .cards {
        width: 14%;
        min-width: 250px;
    }
    .list{
        width: 57%;
        height: 550px;
    }
    .preview{
       width: 26%;
       height: 470px;
    }
}