<div class="container">
    <div class="infouser">
        <div class="datauser">
            <form class="formuser" [formGroup]="form" (ngSubmit)="save($event)">
                <div class="user">
                    <label class="labels">Name!</label>
                    <input id="controls" type="text" name="form.name" formControlName="name" >
                    <br>
                    <div *ngIf="form.get('name').errors && form.get('name').touched">
                        <p *ngIf="form.get('name').hasError('required')">
                         *This field is required 
                        </p>
                    </div>
                </div>
                <div class="user">
                    <label class="labels">Profession!</label>
                    <input id="controls" type="text" name="form.titleprofession" formControlName="titleprofession">
                    <br>
                    <div *ngIf="form.get('titleprofession').errors && form.get('titleprofession').touched">
                        <p *ngIf="form.get('titleprofession').hasError('required')">
                          *This field is required 
                        </p>
                    </div>
                </div>
                <button type="submit" >Upload!</button>
            </form>
            <div class="uploadimage" role="button">
                <div class="image">
                    <input type="file" name="file" id="file" class="inputfile">
                    <label for="file"><i style="margin-right: 10px;" class="fas fa-upload fa-lg"></i>UPLOAD IMAGE</label>
                </div>
            </div>
        </div>
    </div>
    <div class="options">
    <div class="range-slider">
        <h1>Letter size</h1>
        <div class="slider">
            <div class="slider-container">
                <input type="range" id="slider" class="slider" value="{{value}}" min="8" max="40" (input)="pass($event.target.value)">
            </div>
        </div>
        <span id="temp">{{value}}px</span>
    </div>
    <div class="colores">
        <h1 id="coletras">Name Color</h1>
        <div class="paletacolores">
            <div class="color" *ngFor="let items of colores" [style.background-color]="items.color"(click)=passColor(items.color)>
                <div [style.color]="items.color"></div>
            </div>
            <div id="selectcolor">
                <input value="{{color}}" type="color" id="selector" (input)="getColor($event.target.value)">
            </div>
        </div>
    </div>
    <div class="colores">
        <h1 id="coletras">Profession Color</h1>
        <div class="paletacolores">
            <div class="color" *ngFor="let items of colores" [style.background-color]="items.color" (click)=passColor2(items.color)>
                <div [style.color]="items.color"></div>
            </div>
            <div id="selectcolor">
                <input value="{{colorProf}}" type="color" id="selector" (input)="getColorProf($event.target.value)">
            </div>
        </div>
    </div>
</div>
</div>