<div class="container">
    <div class="links">
        <form class="formlinks" [formGroup]="formlink" (ngSubmit)="save($event)">
            <div class="social-links">
                <div class="data">
                    <label class="labels">Link de Twitter</label>
                    <br>
                    <input id="controls" type="text" formControlName="linktwt">
                </div>
                <div class="data">
                    <label class="labels">Link de Google +</label>
                    <br>
                    <input id="controls" type="text" formControlName="linkgpls">
                </div>
                <div class="data">
                    <label class="labels">Link de Facebook</label>
                    <br>
                    <input id="controls" type="text" formControlName="linkfb">
                </div>
                <div class="data">
                    <label class="labels">Link de Instagram</label>
                    <br>
                    <input id="controls" type="text" formControlName="linkinsta">
                </div>
                <div class="data">
                    <label class="labels">Link de Spotify</label>
                    <br>
                    <input id="controls" type="text" formControlName="linkspotify">
                </div>
                <div class="data">
                    <label class="labels">Link de LinkedIn</label>
                    <br>
                    <input id="controls" type="text" formControlName="linkin">
                </div>
                <div class="data">
                    <label class="labels">Link de Behince</label>
                    <br>
                    <input id="controls" type="text" formControlName="linkbe">
                </div>
                <div class="data">
                    <label class="labels">Link de Pinterest</label>
                    <br>
                    <input id="controls" type="text" formControlName="linkp">
                </div>
                <div class="data">
                    <label class="labels">Link de Snapchat</label>
                    <br>
                    <input id="controls" type="text" formControlName="linkschat">
                </div>
                <div class="data">
                    <label class="labels">Número de WhatsApp</label>
                    <br>
                    <input id="controls" type="text" formControlName="linkWsp">
                </div>
                <div class="data">
                    <label class="labels">Link de Skype</label>
                    <br>
                    <input id="controls" type="text" formControlName="linkskype">
                </div>
                <div class="data">
                    <label class="labels">Link de tumblr</label>
                    <br>
                    <input id="controls" type="text" formControlName="linktblr">
                </div>
                <div class="data">
                    <label class="labels">Link de Deezer</label>
                    <br>
                    <input id="controls" type="text" formControlName="linkdeezer">
                </div>
                <div class="data">
                    <label class="labels">Link de DropBox</label>
                    <br>
                    <input id="controls" type="text" formControlName="linkdropbox">
                </div>
                <div class="data">
                    <label class="labels">Link de YouTube</label>
                    <br>
                    <input id="controls" type="text" formControlName="linkYt">
                </div>
                <div class="data">
                    <label class="labels">Link de SoundCloud</label>
                    <br>
                    <input id="controls" type="text" formControlName="linkSoundcloud">
                </div>
            </div>
            <button type="submit">Vincular!</button>
        </form>
    </div>
</div>