<div class="container">
    <div class="links">
        <form class="formlinks" [formGroup]="formlink" (ngSubmit)="save($event)">
            <div class="social-links">
                <div class="data">
                    <label class="labels">Link Of {{iconname.name}}</label>
                    <br>
                    <input id="controls" type="text" formControlName="link">
                </div>
            </div>
            <button type="submit">Link In!</button>
        </form>
    </div>
</div>