.menu {
    width: 250px;
    .card {
        width: 230px;
        background:linear-gradient(90deg,#440ee6,rgb(87, 36, 240),#683BF0,rgb(112, 70, 236));
        margin-top: 15px;
        border-radius: 0 25px 25px 0;
        height: 64px;
        border: none;
        overflow: hidden;
        background-repeat: repeat;
        box-shadow: -2px 2px 10px #666666;
        .options {
            width: 100px;
            color: #ffffff;
            font-size: 20px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    }
    .card:hover {
        cursor: pointer;
        width: 240px;
        background: linear-gradient(70deg, #6798D3, #323ED2);
        transition: all 0.5s;
    }
    .card:focus{
        border-color: transparent !important; 
        outline: none; 
    }
}

@media screen and (max-width: 768px){
    .menu{
        display:none
    }
}